<%- include('partials/header.ejs') %>
<blog>
  <% if (locals.allBlogs.length > 0) { %>
  <div class="container">
    <ul class="list-unstyled">
      <% locals.allBlogs.forEach((rows) => { %>
      <li>
        <div class="border-top border-bottom">
          <div class="d-flex flex-column flex-lg-row gap-5 align-items-start align-items-lg-center link-body-emphasis text-decoration-none">
            <div class="col-lg-8">
              <h6 class="mb-0" id="blogBodyTittle"> <%= rows.title %></h6>
              <h1 class="text-body-secondary" id="blogBodyDate"><%= rows.formatted_date %></h1>
            </div>
          </div>
          <div class="d-flex flex-row justify-between gap-3 buttonsMargin">
            <button class="btn btn-outline-info <%# rounded-pill %> blogButtons blogViewButton" type="button" id="<%=rows.id%>">View</button>
            <button class="btn btn-outline-warning <%# rounded-pill %> blogButtons blogEditButton" type="button" id="<%=rows.id%>">Edit</button>
            <button class="btn btn-outline-danger <%# rounded-pill %> blogButtons blogDeleteButton" type="button" id="<%=rows.id%>">Delete</button>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
  <% } else { %>
  <div class="container">
    <div class="container-mod">
      <h3 id="noBlogs">No articles found!</h3>
    </div>
  </div>
  <% } %>
</blog>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="scripts/view.js" charset="utf-8"></script>
<script src="scripts/edit.js" charset="utf-8"></script>
<script src="scripts/delete.js" charset="utf-8"></script>
</body>
</html>